* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  background: cornsilk;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  cursor: pointer;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bolder;
}

.orange {
  color: orange;
}

.blue {
  color: blue;
}

#win-message {
  font-size: 3rem;
  color: #000;
}
